/*@import url(//fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat);*/
@import url(//fonts.googleapis.com/css?family=Oswald|Slabo+27px);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}
html,body{
    background-color: #B28862;
}
h1{
    font-family: "Libre Baskerville", "Garamond", "Georgia", serif;
    font-size: 3.998rem;
    padding:1rem 2rem;
}
h2{
    font-family: "Libre Baskerville", "Garamond", "Georgia", serif;
    font-size: 2.827rem;
    padding:1rem 2rem;
}
nav ul{
    padding:1rem 0;
}
nav li{
    font-size: 1.999rem;
    list-style-type: none;
}
nav li>a{
    display: block;
    text-decoration: none;
    border-bottom: 0.2rem solid #30454A;
    padding: 0.2rem 2rem;
    color: #30454A;
}
nav li>a:hover,
nav li>a:active{
  /*color: #B28862;*/
  text-shadow: #FFDEBF 2px 2px, #B28862 3px 3px;
  box-shadow:  #FFDEBF 0px 2px, #B28862 0px 3px;
}
p{
    font-size: 1.414rem;
    padding:0.5rem 2rem;
}
main p:last-child{
    padding-bottom: 4rem;
}
.wrapper{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #D9F8FF;
    color: #30454A;
}
header{
    width:100%;
    border-bottom: 1rem solid #B28862;
}
nav{
    float:left;
    width: 38.2%;
}
main{
    float:right;
    width: 61.8%;
}
footer{
    clear:both;
    width: 100%;
    border-top: 0.5rem solid #B28862;
}
footer p{
    font-size: 1rem;
    padding: 2rem;
    color: #30454A;
}
.index-ss {
    font-family: "Oswald", "Helvetica", "Arial", sans-serif;
}
.index-se {
    font-family: "Slabo 27px", "Garamond", "Georgia", serif;
}
.two-ss {
    font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
}
.two-se {
    font-family: "Libre Baskerville", "Garamond", "Georgia", serif;
}
